# Local virtual environments
venv/
.venv/
env/
.env

# Build outputs
dist/
build/
.next/
out/

# Dependencies
node_modules/
__pycache__/
*.pyc
*.pyo

# IDEs and Tools
.vscode/
.idea/
.DS_Store

# Logs
*.log

# Docker
.dockerignore
/nginx/
docker-compose.yml (optional if you want to ignore but usually committed)