# Backend Settings
PROJECT_NAME="OCR Full-Stack API"
API_V1_STR="/api/v1"

# MongoDB Atlas URI
MONGODB_URI="mongodb+srv://<username>:<password>@cluster.mongodb.net/ocr_db?retryWrites=true&w=majority"
MONGODB_DB_NAME="ocr_db"

# Cloudinary Credentials
CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"

# CORS
BACKEND_CORS_ORIGINS=["http://localhost:3000", "http://localhost"]
